{% extends "learning_logs/base.html" %}

{% block header %}
    <h2>本网主营业务如下:</h2>
{% endblock header %}

{% block content %}



    <a href="{% url 'users:register' %}">会员注册</a>

<p>业务一：专业维修核潜艇、反应堆,核弹头翻新,抛光,打蜡.</p>
    <p>业务二：   回收二手航母,清洗航母油槽、航天飞机保养换三滤.</p>
    <p>业务三：   高空作业擦洗卫星表面除尘.                  </p>
    <p>业务四：批发歼 10,F22 F35 B2轰炸机，各类核弹头。量大从优！有发票!全面接受预定歼20歼30，3个月内提机，送两年保养，送飞机后视镜。
    <p>另承接火车补胎、定做蚊子眼睛、蚂蚁破腹产等业务，还有惊喜小礼品钥匙扣，打火机等！！！！！！！！！！！</p>
    <p>有需要请联系，量大从优喔！</p>

      <h3>新到货：二向箔宇宙,如下：</h3>
<p>                                             </p>

<video src="/static/image/two.mp4" controls="controls" style="width:450px;height:300px;"></video>
{% endblock content %}